<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy/Sell Pairs for {{ usym }}</title>
    <link rel="stylesheet" href="../static/CSS/pairs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='JavaScript/timeStamp.js') }}"></script>
</head>
<body>
    <h2>Consolidated Data for {{ usym }} </h2>
    <table id="pairs">
        <thead>
            <tr id="pairsHeader">
                <th>C</th>
                <th>C$</th>
                <th>C$/DDiff</th>
                <th>CAvg</th>
                <th>Sell Bid #</th>
                <th>Sell Bid</th>
                <th>Sell Ask</th>
                <th>Sell Ask #</th>
                <th>Buy Bid #</th>
                <th>Buy Bid</th>
                <th>Buy Ask</th>
                <th>Buy Ask #</th>
                <th>Short Leg IceChat</th>
                <th>Long Leg IceChat</th>
                <th>Sell-K DTE</th>
                <th>D-Diff</th>
                <th>Sell-K %UL</th>
                <th>Strike Diff</th>
            </tr>
        </thead>
        <tbody id="pairs-body">
            <!-- Data will be inserted here! -->
        </tbody>
    </table>
    <div class="top-right" id="timestamp"></div>
    <script type="module">
        const selectedTimezone = localStorage.getItem('selectedTimezone') || 'Asia/Tokyo'; // Default to Tokyo if not set
        const fixedHeaders = [
            "C",
            "C$",
            "C$/DDiff",
            "CAvg",
            "Sell Bid #",
            "Sell Bid",
            "Sell Ask",
            "Sell Ask #",
            "Buy Bid #",
            "Buy Bid",
            "Buy Ask",
            "Buy Ask #",
            "Short Leg IceChat",
            "Long Leg IceChat",
            "Sell-K DTE",
            "D-Diff",
            "Sell-K %UL",
            "Strike Diff",
        ]
        const body = document.getElementById("pairs-body");
        const table = document.getElementById("pairs");
        const headerRows = document.getElementById('pairsHeader');
        const headerTags = table.getElementsByTagName('th');
        let currentHeaders = [...headerTags].map( (th) => {
            return th.textContent;
        });
        let currentDate = getCurrentTimeStamp(selectedTimezone, new Date());
        let removedColumns = []; // To keep track of removed columns and their indices
        let pxCols = ["Buy Bid", "Sell Bid", "Buy Ask", "Sell Ask"];

        function removeColumn(colNameToRemove){
            let colIndex = currentHeaders.indexOf(colNameToRemove);
            if (colIndex > -1){
                console.log(`Removing Column: ${colNameToRemove}`);
                removedColumns.push({ name: colNameToRemove, index: colIndex });
                currentHeaders.splice(colIndex, 1); // get rid of the element in array
                headerTags[colIndex].parentNode.removeChild(headerTags[colIndex]);
            }
        }
        function addColumn(colNameToAdd){
            let colIndex = currentHeaders.indexOf(colNameToAdd);
            // first check what's the order of the real column
            // then check out of the 4 bid/ask #, how many are there
            if (colIndex < 0){
                console.log(`Adding Column: ${colNameToAdd}`);
                let sizeCols = fixedHeaders.filter( (header) => {
                    return header.indexOf("#") > -1
                });
                
                let originalIndex = removedColumns.find((col) => {
                    return col.name === colNameToAdd;
                });
                if (originalIndex){
                    currentHeaders.splice(originalIndex.index, 0, colNameToAdd);
                    const newHeaderCell = document.createElement('th');
                    newHeaderCell.textContent = colNameToAdd;
                    console.log(`Index: ${originalIndex.index}`);
                    headerRows.insertBefore(newHeaderCell, headerRows.children[originalIndex.index] || null);
                    removedColumns = removedColumns.filter(col => col.name !== colNameToAdd);
                }
            }
        }
        function modifyColumns(event){
            if (!event.data.showShortBidSize){
                removeColumn("Sell Bid #");
            }else{
                addColumn("Sell Bid #");
            };
            if (!event.data.showShortAskSize){
                removeColumn("Sell Ask #");
            }else{
                addColumn("Sell Ask #");
            };            
            if (!event.data.showLongBidSize){
                removeColumn("Buy Bid #");
            }else{
                addColumn("Buy Bid #");
            };            
            if (!event.data.showLongAskSize){
                removeColumn("Buy Ask #");
            }else{
                addColumn("Buy Ask #");
            };
        }

        window.addEventListener('message', (event) => {
            if ('innerHTML' in body){
                body.innerHTML = "";
            }
            modifyColumns(event);
            const pairsData = event.data.inputData;
            pairsData.sort( (a, b) => {
                return parseFloat(b["C$"])- parseFloat(a["C$"]);
            })
            pairsData.forEach((pair) => {
                const tr = document.createElement('tr');
                currentHeaders.forEach( (col) => {
                    const td = document.createElement('td');
                    if (col in pair){
                        if (pxCols.indexOf(col) > -1){
                            let index = currentHeaders.indexOf(col);
                            td.classList.add("grey-shade");
                        }
                        td.innerText = pair[col];
                    }else{
                        td.innerText = '';
                    }
                    tr.appendChild(td);
                })
                body.appendChild(tr);
            });
            let ts = document.getElementById('timestamp');
            currentDate = getCurrentTimeStamp(selectedTimezone, new Date());
            if (!ts){
                ts = createTsDiv(document, currentDate);
            }else{
                ts.innerText = `Last Refreshed: ${currentDate}`;
            }
            document.body.appendChild(ts);
        })
        let timeStampDiv = createTsDiv(document, currentDate);
        document.body.appendChild(timeStampDiv);
    </script>
</body>
</html>